body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inner{
    padding: 30px;
}

div .container{
    padding: 20px;
}

/*#panelTitle{*/
    /*padding: 50px ;*/
/*}*/

div .row-md-6{
    padding: 20px;
}

h2{
    margin-top: 50px;
    margin: 30px;
    padding: 20px;
}

p {
    text-align: center;
    font-family: Garamond, serif;
    font-size: 18px;
}

dl{
    border: 3px solid sienna;
    text-align: center;
    padding: 5px;
    /*width: 120px;*/
    height: 35px;
    align-items: center;
}


.container .row-md-6{
    color: sandybrown;
    border: groove;
    /*border-image-width: 100%;*/
    /*width: 1050px;*/
    height: 120px;
    /*background-position: center;*/
    /*padding: 20px;*/
    margin: 30px;
    position: relative;
    margin-top: 80px;
}

img {
    display: block;
    margin: auto;
    padding: 20px;
    padding-bottom: 30px;
}

.container img{
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.main-pic {
  background-color: red;
  margin-top: 5%;
  width: 75%;
  height: 55%;
}

.seven-dwarves {
  /*background-color: green;*/
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.dwarf {
    /*background-color: blue;*/
    /*margin-right: 2%;*/
    width: 13%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 50%;
    top: 25%;
}

.last-dwarf {
    margin-right: 0%;
    background-image: url("../images/storyboard-pics/2dollars_for_2books.jpg");
}

.d1 {
    /*position: relative;
    height: 90%;
    top: 5%;*/
    background-image: url("../images/storyboard-pics/Bookcase_from_a_distance.png");
    background-size: cover;
}

.d2 {
    background-image: url("../images/storyboard-pics/Bookcase_closeup.png");
    background-size: cover;
}
.d3 {
    background-image: url("../images/storyboard-pics/Evan_with_piggypank.jpg");
}
.d4 {
    background-image: url("../images/storyboard-pics/Mom_and_bookcase.jpg");
}
.d5 {
    background-image: url("../images/storyboard-pics/3dollars_for_1book.jpg");
}
.d6 {
    background-image: url("../images/storyboard-pics/1dollar_for_2books.jpg");
}
