body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.inner{
    padding: 30px;
}

div .container{
    padding: 20px;
}

/*#panelTitle{*/
    /*padding: 50px ;*/
/*}*/

div .row-md-6{
    padding: 20px;
}

h2{
    margin-top: 50px;
    margin: 30px;
    padding: 20px;
}

p {
    text-align: center;
    font-family: Garamond, serif;
    font-size: 18px;
}

dl{
    border: 3px solid sienna;
    text-align: center;
    padding: 5px;
    /*width: 120px;*/
    height: 35px;
    align-items: center;
}


.container .row-md-6{
    color: sandybrown;
    border: groove;
    /*border-image-width: 100%;*/
    /*width: 1050px;*/
    height: 120px;
    /*background-position: center;*/
    /*padding: 20px;*/
    margin: 30px;
    position: relative;
    margin-top: 80px;
}

img {
    display: block;
    margin: auto;
    padding: 20px;
    padding-bottom: 30px;
}

.container img{
    height: 80px;
    border-bottom-left-radius: 45px;
    margin-left: 10px;
    margin-right: 10px;
}
