body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../images/a.jpg");
}

.inner{
    padding: 30px;
}

div .container{
    padding: 20px;
}

/*#panelTitle{*/
    /*padding: 50px ;*/
/*}*/

div .row-md-6{
    padding: 20px;
}

h2{
    margin-top: 50px;
    margin: 30px;
    padding: 20px;
}

p {
    text-align: center;
    font-family: Garamond, serif;
    font-size: 18px;
}

dl{
    border: 3px solid sienna;
    text-align: center;
    padding: 5px;
    /*width: 120px;*/
    height: 35px;
    align-items: center;
}


.container .row-md-6{
    color: sandybrown;
    border: groove;
    /*border-image-width: 100%;*/
    /*width: 1050px;*/
    height: 120px;
    /*background-position: center;*/
    /*padding: 20px;*/
    margin: 30px;
    position: relative;
    margin-top: 80px;
}

img {
    display: block;
    margin: auto;
    padding: 20px;
    padding-bottom: 30px;
}

.container img{
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.main-pic {
  background-color: red;
  margin-top: 5%;
  width: 75%;
  height: 55%;
}

.graphContainer {
  margin-top: 5%;
  width: 75%;
  height: 55%;
  padding: 5%;
}



.seven-dwarves {
  /*background-color: green;*/
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}

.dwarf {
    /*background-color: blue;*/
    /*margin-right: 2%;*/
    width: 13%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 50%;
    top: 25%;
}

.last-dwarf {
    margin-right: 0%;
    background-image: url("../images/storyboard-pics-small/2dollars_for_2books-600_small.jpg");
}

.d1 {
    /*position: relative;
    height: 90%;
    top: 5%;*/
    background-image: url("../images/storyboard-pics-small/Bookcase_from_a_distance-600_small.png");
    background-size: cover;
}

.d2 {
    background-image: url("../images/storyboard-pics-small/Bookcase_closeup-600_small.png");
    background-size: cover;
}
.d3 {
    background-image: url("../images/storyboard-pics-small/Evan_with_piggypank-600_small.jpg");
}
.d4 {
    background-image: url("../images/storyboard-pics-small/Mom_and_bookcase-600_small.jpg");
}
.d5 {
    background-image: url("../images/storyboard-pics-small/3dollars_for_1book-600_small.jpg");
}
.d6 {
    background-image: url("../images/storyboard-pics-small/1dollar_for_2books-600_small.jpg");
}
