/* Main style for the app */
body {
    font-family: 'Helvetica Neue';
}


.first-row {
    height: 60%;
}

/* Makes graph centered vertically */
/*.plot-container.plotly {
    position: relative;
    transform: translateY(16%);
}*/

.graph-centered {
    margin-top: 10%;
    height: 80%;
}

.fixedStoryImgContainer {
    height: 100%;
}

.fixedDataVisualContainer {
    height: 100%;
}
